.popUp {
  width: 50%;
  height: 67%;
  border: 3px solid #7f5af0;
  background: #0f0e17;
  color: #fffffe;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  color: #fffffe;
  display: none;
}

.popUp button {
  position: absolute;
}

.popUp .closeConfig {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 30px;
  top: 30px;
}

.popUp .configCancelButton {
  border: 2px solid red;
  background-color: transparent;
  color: red;
  right: 80px;
  bottom: 10px;
}

.popUp .configSaveButton {
  border: 2px solid #2cb67d;
  background-color: transparent;
  color: #2cb67d;
  right: 10px;
  bottom: 10px;
}

.mainText {
  position: absolute;
  left: 30px;
  top: 30px;
  font-weight: 700;
  font-size: 20px;
}

.popUp select {
  height: 40px;
  width: 100%;
  background-color: #7f5af0;
  border: 2px solid #2cb67d;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
}

.popUp .perPage,
.popUp .fieldName,
.popUp .sorting {
  left: 20%;
  position: absolute;
  left: 0;
  width: 40%;
  margin: 10px;
}

.popUp label {
  font-size: 20px;
  margin: 10px;
  font-weight: 700;
}

.popUp .perPage {
  top: 100px;
}

.popUp .perPage input {
  width: 100%;
}

.popUp .fieldName,
.popUp .sorting {
  top: 180px;
}

.popUp .sorting {
  left: 50%;
}

.popUp .checkboxes,
.popUp .chipsClassName {
  position: absolute;
  display: flex;
  top: 320px;
  list-style: none;
  gap: 20px;
  border: solid #2cb67d;
  width: 95%;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  justify-content: space-evenly;
}

.popUp .checkboxes {
  top: 420px;
}

.popUp .chipsClassName li {
  font-weight: 700;
  background-color: #7f5af0;
  padding: 8px;
  border-radius: 10px;
}

.popUp .checkboxes li {
  gap: 10px;
}

.popUp .checkboxes li input {
  width: 20px;
}
