/* black: #03060B */
/* text_color: #F6F7F8 */
/* violet: #3b3bc3 */

body {
  background-color: #03060b;
  padding: 1%;
  user-select: none;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  color: #dfdfdf;
}

input,
button {
  color: #dfdfdf;
  background-color: #3b3bc3;
  border-radius: 6px;
  cursor: pointer;
  font-size: 100%;
  height: 44px;
  font-weight: 700;
  border: none;
  outline: none;
  text-align: center;
}

button {
  backface-visibility: hidden;
  height: 44px;
  position: relative;
  padding: 5px;
  width: auto;
}

.openConfig {
  position: absolute;
  right: 10px;
  top: 10px;
}

.searchForm {
  position: relative;
  top: 4px;
}

.rangeForm {
  position: absolute;
  left: 280px;
  top: 27px;
}
