.table {
  cursor: pointer;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
  color: #fffffe;
  border-top: 2px solid #7f5af0;
  text-align: center;
  border-top: 2px solid #2cb67d;
  border-bottom: 2px solid #2cb67d;
}

.table select {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: none;
  background: transparent;
  color: #2cb67d;
  border: 2px solid #2cb67d;
  outline: none;
}

.table th {
  border-top: 1px solid #7f5af0;
}

.table td div {
  height: 30px;
  text-transform: capitalize;
  font-weight: 600;
  font-size: larger;
  color: white;
  letter-spacing: 2px;
}

.table tr:nth-child(1) td {
  padding: 10px;
  background: #0f0e17;
  display: flex;
  justify-content: center;
  gap: calc(10% + 3px);
}

.table select,
.table th {
  padding: 12px 15px;
}

.table tr {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
}

.table tr:nth-child(2) th {
  border-top: 2px solid #2cb67d;
}

.table tr:nth-of-type(even) {
  background-color: #242629;
}

.table tr:nth-of-type(odd) {
  background-color: #0f0e17;
}
