.table {
	cursor: pointer;
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	font-family: sans-serif;
	min-width: 400px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table select {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	border: none;
	background-color: #009879;
	color: #ffffff;
	text-align: center;
	text-transform: capitalize;
}

.table td div {
	background-color: #009879;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
	font-weight: 800;
	color: white
}

.table select,
.table th {
	padding: 12px 15px;
}

.table tr {
	text-align: center;
	color: #333;
	border-bottom: 1px solid #dddddd;
}

.table tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.table tr:last-of-type {
	border-bottom: 2px solid #009879;
}
